    $sunset1:#779b79;
    $sunset2:#ac988e;
    $sunset3:#d6207c;
    $sunset4:#fa087f;
    $sunset5:#ff0059; 

    $white: #ffffff;
    $white-x: #eeeeee;
    $white-xx: #d3d3d3;

    $black: #000000;
    $black-x: #3a3a3a;
    $black-xx: #868686;




