.cart {
    padding: 50px 20px;
    .card {
        background-color: $white;
        border-radius: 8px;
        min-height: 373px;

        .card-header {
            padding: 0;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        .card-body {
            background-color: $white;
            
            p {
                text-align: justify;
                font-size: 0.8em;
                color: $black-x;
            }
        }

        .card-footer {
            background-color: $white;
            text-align: center;

            button {
                padding: 5px 12px;
                color: $white;
                background-color: $sunset5;
                transition: 0.2s;
                border-radius: 5px;
                border: none;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: $sunset3;
                }
            }
        }
    }

    #payment-container {
        background-color: $white;
        padding: 15px;
        border-radius: 8px;
        max-width: 1000px;
        margin: auto;

        button {
            padding: 5px 12px;
            color: $white;
            background-color: $sunset5;
            transition: 0.2s;
            border-radius: 5px;
            border: none;

            &:focus {
                outline: none;
            }

            &:disabled {
                opacity: 0.2;
            }

            &:hover {
                background-color: $sunset3;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .cart {
        .card {
            // flex-direction: row;
        }
    }
}