.contact-us {
    margin-top: 58px;
    padding: 10px;

    h1 {
        font-size: 1.5em;
        padding: 10px;
        border-bottom: 1px solid $sunset5;
    }

    #contact-us-container {
        background-color: $white;
        border-radius: 8px;
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 25px;

        h4 {
            font-size: 1.1em;
            border-bottom: 1px solid $sunset5;
            padding: 10px 5px;
        }

        a {
            display: block;
            padding: 8px;
            color: $sunset5;

            i {
                font-size: 1.5em;
                position: relative;
                top: 4px;
                margin-left: 5px;
            }
        }

        p {
            margin-top: 10px;
        }

        #contact-us-form-container {
            form {
                label {
                    display: block;
                    color: $black-x;
                }

                input[type="text"], input[type="email"] {
                    width: 100%;
                    padding: 5px;
                    border: 1px solid $white-xx;
                    border-radius: 5px;
                    margin-bottom: 20px;

                    &:focus {
                        outline: none;
                        border: 1px solid $black-x;
                    }
                }

                textarea {
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid $white-xx;

                    &:focus {
                        outline: none;
                        border: 1px solid $black-x;
                    }
                }

                button {
                    background-color: $sunset5;
                    padding: 8px 18px;
                    color: $white;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                        background-color: $sunset3;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .contact-us {
        margin-top: 0;

        #contact-us-container {
            margin-top: 70px;
        }
    }
}