.product {
    .card {
        border: none;
        transition: 0.2s;
        padding-bottom: 0;
        min-height: 373px;
        // box-shadow: 0 0 4px $black-xx;
        // border-radius: 8px;

        .card-header {
            padding: 0;
            border-bottom: none;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        .card-body {
            .link {
                font-size: 0.7em;
                color: $black-x;
                text-align: justify;
                display: block;
            }
        }

        .card-footer {
            background-color: $white;
            p {
                padding: 0;
                text-align: left;
                b {
                    font-size: 0.8em;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 4px $black-xx;
        }
    }
}