.section {
    background-color: $white;
    border-radius: 8px;
    padding: 10px !important;
    box-shadow: 0 0 4px 0 $black-xx;

    #introduction_ {
        img {
            width: 40%;
        }

        p {
            padding: 10px;
            text-align: justify;
            color: $black-x;
        }
    }

    #banner_ {
        img {
            width: 100%;
        }
    }
}